---
import LinkButton from "@components/new/LinkButton.astro";
import GithubIcon from "@components/icons/GithubIcon.astro";
import LinkedinIcon from "@components/icons/LinkedinIcon.astro";
import RssIcon from "@components/icons/RssIcon.astro";
import XTwitterIcon from "@components/icons/XTwitterIcon.astro";
import type { Link } from "@utils/models/links.interface";
const year = new Date().getFullYear();

const media = [
  { title: "Rss", href: "/rss.xml", icon: RssIcon },
  { title: "Github", href: "https://github.com/USpiri/", icon: GithubIcon },
  {
    title: "Linkedin",
    href: "https://www.linkedin.com/in/urielspiridione/",
    icon: LinkedinIcon,
  },
  {
    title: "X Twitter",
    href: "https://twitter.com/UrielSpiridione",
    icon: XTwitterIcon,
  },
];

const web: Link[] = [
  { label: "Home", path: "/" },
  { label: "Blog", path: "/blog" },
  { label: "Explorar", path: "/explore" },
  { label: "Sobre mi", path: "/about" },
  { label: "Collections", path: "/collections" },
  { label: "Snippets", path: "/snippet" },
  { label: "Daily", path: "/daily" },
  { label: "Lista de tareas", path: "/todo" },
];

const resources: Link[] = [
  { label: "Rss", path: "/rss.xml" },
  { label: "Source code", path: "https://github.com/USpiri/blog.uspiri.com" },
];
---

<footer
  class="mb-8 mt-16 flex flex-col items-center gap-4 px-5 text-sm text-neutral-500 dark:text-neutral-400"
>
  <div class="flex flex-col items-center gap-4 sm:flex-row">
    <section class="flex items-center gap-3">
      <div class="avatar"></div>
      <a
        href="https://uspiri.com"
        rel="noopener noreferrer"
        target="_blank"
        class="text-lg font-semibold">Uriel Spiridione | USpiri</a
      >
    </section>
    <section class="flex items-center gap-4">
      {
        media.map((item) => (
          <LinkButton
            href={item.href}
            title={item.title}
            icon
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`Ir a ${item.title}`}
          >
            <item.icon class="h-4 dark:fill-neutral-500" />
          </LinkButton>
        ))
      }
    </section>
  </div>
  <div class="flex flex-col items-center gap-4">
    <section>
      <ul class="flex flex-wrap justify-center gap-x-3">
        <li>Web:</li>
        {
          web.map((link) => (
            <li>
              <LinkButton
                href={link.path}
                style="sm"
                class="text-sm font-semibold"
              >
                {link.label}
              </LinkButton>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <ul class="flex flex-wrap justify-center gap-x-3">
        <li>Recursos:</li>
        {
          resources.map((link) => (
            <li>
              <LinkButton
                href={link.path}
                style="sm"
                class="text-sm font-semibold"
              >
                {link.label}
              </LinkButton>
            </li>
          ))
        }
      </ul>
    </section>
  </div>
  <p class="text-center text-sm">
    &copy; {year}
    <a
      href="https://uspiri.com/"
      rel="noopener noreferrer"
      class="font-semibold"
      target="_blank"
    >
      Uriel Spiridione</a
    >
  </p>
</footer>

<style lang="scss">
  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    @apply relative border border-neutral-400 bg-neutral-50 dark:border-neutral-600 dark:bg-neutral-950;
    &::before {
      content: "";
      height: 4px;
      width: 4px;
      border-radius: 100%;
      @apply bg-neutral-400 dark:bg-neutral-500;
      position: absolute;
      top: 10px;
      left: 10px;
      animation: eye-movement 8s infinite ease;
    }
    &::after {
      content: "";
      height: 4px;
      width: 4px;
      border-radius: 100%;
      @apply bg-neutral-400 dark:bg-neutral-500;
      position: absolute;
      top: 10px;
      left: 20px;
      animation: eye-movement 8s infinite ease;
    }
  }
  @keyframes eye-movement {
    0% {
      transform: translateX(0px) translateY(0) scaleY(1);
    }
    20% {
      transform: translateX(2px) translateY(0) scaleY(1);
    }
    30% {
      transform: translateX(-2px) translateY(0) scaleY(1);
    }
    55% {
      transform: translateX(0px) translateY(4px) scaleY(1);
    }
    65% {
      transform: translateX(0px) translateY(0px) scaleY(0.5);
    }
    70% {
      transform: translateX(0px) translateY(0px) scaleY(1);
    }
    100% {
      transform: translateX(0px) translateY(0px) scaleY(1);
    }
  }
</style>
