---
import NavigationCard from "@components/NavigationCard.astro";
import CodeblockIcon from "@components/icons/CodeblockIcon.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { capitalize } from "@utils/utils";
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = (async () => {
  const snippets = await getCollection("snippet");
  const langs = [...new Set(snippets.map((snippet) => snippet.data.lang))];
  return langs.map((lang) => {
    const filteredSnippets = snippets.filter(
      (snippet) => snippet.data.lang === lang,
    );
    return {
      params: {
        lang: lang,
      },
      props: { snippets: filteredSnippets },
    };
  });
}) satisfies GetStaticPaths;

interface Props {
  snippets: CollectionEntry<"snippet">[];
}

const { snippets } = Astro.props;
const { lang } = Astro.params;
---

<MainLayout
  title={`${capitalize(lang)} snippets`}
  description={`Fragmentos de código de ${lang}.`}
>
  <section>
    <div class="flex items-center gap-2 text-3xl font-semibold md:text-4xl">
      <CodeblockIcon class="h-9" />
      <h1>{`${capitalize(lang)} code snippets`}</h1>
    </div>
    <p class="mt-8 text-neutral-600 dark:text-neutral-400">
      Fragmentos de código de {lang} utilizados para ilustrar o proporcionar ejemplos
      sobre un código en particular.
    </p>
    <ul class="mt-10 flex flex-col gap-3">
      {
        snippets.map((snippet) => (
          <li>
            <NavigationCard
              label={snippet.data.title}
              href={`/snippet/${lang}/${snippet.slug}`}
            />
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
