---
import MarkdownHeader from "./MarkdownHeader.astro";

interface Props {
  id: string;
  title: string;
  description?: string;
  date?: Date;
  tags?: string[];
  hideHeader?: boolean;
  hideLinks?: boolean;
  pageFind?: boolean;
}

const {
  id,
  title,
  description,
  date,
  tags,
  hideHeader = false,
  hideLinks = false,
  pageFind = true,
} = Astro.props;
---

<section
  data-pagefind-body={pageFind}
  class="w-full max-w-3xl"
  transition:name={`post-${id}`}
>
  <header class="px-3">
    {
      !hideHeader && (
        <>
          <MarkdownHeader
            title={title}
            description={description}
            date={date}
            tags={tags}
            hideLinks={hideLinks}
          />
          <hr
            class={`mb-5 mt-3 border-neutral-400 dark:border-neutral-500 ${
              description === undefined ? "mt-6" : ""
            }`}
          />
        </>
      )
    }
  </header>
  <article
    class="markdown-code markdown-article markdown-fonts markdown-image relative min-w-full rounded-lg border bg-white px-5 pb-5 dark:border-transparent dark:bg-neutral-800/90"
  >
    <slot />
  </article>
</section>
<style is:global lang="scss">
  .markdown-article {
    @apply prose prose-li:my-0 prose-hr:mb-8 prose-hr:border-neutral-300 dark:prose-hr:border-neutral-600;
  }

  .markdown-fonts {
    @apply prose-sm prose-neutral dark:prose-invert sm:prose-base prose-headings:mt-6 prose-headings:font-semibold;
  }

  .markdown-code {
    @apply prose-code:before:contents prose-code:after:contents prose-pre:bg-zinc-800 prose-pre:px-0 dark:prose-pre:bg-neutral-900;
  }

  .markdown-image {
    @apply prose-img:my-0 prose-img:rounded-lg;
  }

  code {
    &:not(pre code) {
      @apply rounded-md bg-gray-200/50 px-1 dark:bg-neutral-700/75 dark:text-neutral-200;
      font-weight: initial !important;
    }
  }
  p:has(img) {
    @apply flex flex-col items-center justify-center;
  }
  [data-line] {
    @apply whitespace-break-spaces px-4;
  }
  [data-highlighted-line] {
    background: rgba(200, 200, 255, 0.1);
    @apply border-l-4 border-l-blue-400;
  }

  [data-highlighted-chars] {
    @apply rounded bg-zinc-600/50;
    box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
  }

  [data-chars-id] {
    @apply border-b-2 p-1 shadow-none;
  }

  [data-chars-id] span {
    @apply text-inherit;
  }

  .copy-icon {
    @apply h-full;
  }
  .copy-button {
    @apply absolute end-2 top-2 h-7 rounded-md border border-neutral-600 fill-neutral-500 p-1 transition-all duration-100 hover:scale-105 hover:bg-neutral-800 hover:fill-neutral-300 focus:bg-cyan-500/50 focus:fill-neutral-300;
  }
</style>
<script>
  import { setCopyButton } from "@utils/copy";
  document.addEventListener("astro:page-load", setCopyButton);
</script>
