---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<a
  href={`/blog/${post.slug}`}
  class="flex flex-col gap-2 rounded-lg border border-neutral-300 px-5 py-4 transition-all hover:scale-[102%] hover:border-cyan-400 dark:border-neutral-800 dark:hover:border-cyan-600"
>
  <header>
    <span
      class="text-sm font-semibold text-neutral-500 dark:font-bold dark:text-neutral-400/80"
    >
      <FormattedDate date={post.data.date} />
    </span>
    <h2 class="text-nowrap text-xl font-semibold transition-all md:text-2xl">
      {post.data.title}
    </h2>
  </header>
  <p class="leading-snug text-neutral-500 dark:text-neutral-400">
    {post.data.description}
  </p>
  <footer>
    <ul class="flex gap-3">
      {
        post.data.tags?.map((tag) => (
          <li class="rounded-md border border-neutral-400 px-2 text-sm text-neutral-500 dark:border-neutral-600 dark:text-neutral-400">
            #{tag}
          </li>
        ))
      }
    </ul>
  </footer>
</a>
