---
import NavigationCard from "@components/NavigationCard.astro";
import Title from "@components/Title.astro";
import CollectionIcon from "@components/icons/CollectionIcon.astro";
import Layout from "@layouts/Layout.astro";
import { sortPosts } from "@utils/sort";
import { slug } from "@utils/utils";
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog");
  const collections = [
    ...new Set(posts.map((post) => post.data.collection)),
  ].filter((collection) => collection !== undefined);

  return collections.map((collection) => {
    const filteredPosts = sortPosts(
      posts.filter(
        (post) => slug(post.data.collection ?? "") === slug(collection ?? ""),
      ),
      { filterNonPublished: false, sortDirection: "ASC" },
    );
    return {
      params: {
        collection: slug(collection ?? ""),
      },
      props: { posts: filteredPosts, collection },
    };
  });
}) satisfies GetStaticPaths;

interface Props {
  posts: CollectionEntry<"blog">[];
  collection: string;
}

const { collection, posts } = Astro.props;
---

<Layout
  title={`${collection} | Uriel Spiridione`}
  description={`Posteos de ${collection}`}
>
  <main class="mx-4 w-full max-w-3xl md:mx-8">
    <div class="flex items-center gap-2 text-3xl font-semibold md:text-4xl">
      <CollectionIcon class="h-9" />
      <h1>{collection}</h1>
    </div>
    <ul class="mt-10 flex flex-col gap-3">
      {
        posts.map((post) => (
          <li>
            <NavigationCard
              label={post.data.title}
              href={`/collections/${slug(collection)}/${post.slug}`}
            />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
