---
import Layout from "./BaseLayout.astro";
import Markdown from "@components/Markdown.astro";

interface Props {
  id: string;
  title: string;
  description?: string;
  date?: Date;
  tags?: string[];
  pageFind?: boolean;
  seoDescription?: string;
  hideLinks?: boolean;
}

const {
  id,
  title,
  description,
  date,
  tags,
  pageFind,
  seoDescription,
  hideLinks = false,
} = Astro.props;
---

<Layout
  title={`${title} | Uriel Spiridione`}
  description={seoDescription ?? description ?? ""}
>
  <main class="w-full max-w-3xl">
    <Markdown
      id={id}
      title={title}
      description={description}
      date={date}
      tags={tags}
      pageFind={pageFind}
      hideLinks={hideLinks}
    >
      <slot />
    </Markdown>
  </main>
</Layout>
